#navbar {
    display: flex;
    align-items: center;
    margin: 3rem;
    position: fixed;
    z-index: 2;
}

#name {
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 0.1vw;
    transition: 0.6s;

    position: absolute;
    /* left: -5vw; */
    margin-left: 0rem;
    /* margin-right: 2rem; */
}

#name:hover {
    color: gray;
    transition: 0.4s;
}

#link_container {
    position: absolute;
    left: 20rem
}

.link {
    margin-left: 15px;
    font-size: 1vw;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.8em;
    transition: 0.6s;
    background-position: bottom left;
    background-size: 2px;
    opacity: 1;
    text-decoration-color: transparent;
    text-decoration-thickness: .5vh;
}

.link:hover {
    font-size: 0.99vw;
    text-decoration: underline;
    text-underline-offset: .3em;
    transition: 0.6s;
    opacity: 0.5;
    text-decoration-thickness: .5vh;

}